certifi==2018.11.29
Click==7.0
defusedxml==0.5.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
nbconvert==5.4.0
numpy==1.16.1
pandas==0.24.1
psycopg2==2.7.7
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
SQLAlchemy==1.2.17
Werkzeug==0.14.1
